<div class="container-fluid  text-center">
  <div class="col-lg-12">
    <h1 *ngFor="let item of session | async">{{item.sessionName}} - {{item.sessionHash}}</h1>
  </div>
  
  <div *ngIf="players.length == 0" class="col-lg-12">
    <h1>Nenhum jogador conectado ainda...</h1>
  </div>
  
  <div *ngIf="players.length > 0" class="col-lg-12">
    <h1 *ngFor="let player of players">{{player.playerId}} - {{player.playerName}}</h1>
  </div>
  
  <div class="col-lg-12">
      <button class="btn btn-primary btn-lg" (click)="backToHome()">Cancelar sala</button>
    </div>
</div>